<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AnnualLeave">
	
	<insert id="insertAnnualLeave">
		insert into annual_leave values (leave_seq.nextval, #{users_id}, TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY')), 0, 0, 0)
	</insert>
	
	<select id="selectAnnualLeaveData" resultType="map">
		select used_days as "used_days", remaining_days as "remaining_days" from annual_leave where users_id = #{users_id}
	</select>
	
	<select id="getAnnualLeaveSummary" resultType="com.study.app.domains.annualLeave.AnnualLeaveDTO">
		SELECT
	        TOTAL_DAYS,
	        USED_DAYS,
	        REMAINING_DAYS
	    FROM ANNUAL_LEAVE
	    WHERE USERS_ID = #{loginId}
	    AND YEAR = TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY'))
	</select>

	<update id="updateAnnualLeaveUsedDays">
		update annual_leave set used_days = #{used_days}, remaining_days = #{remaining_days} where users_id = #{users_id}
	</update>
	
	<select id="findOneYearUsers" resultType="com.study.app.domains.annualLeave.AnnualLeaveUpdateDTO">
		select u.id, to_char(u.hire_date, 'YYYY-MM-DD') as hire_date,
			a.leave_seq, a.used_days
		from users u
		join annual_leave a on u.id = a.users_id
		where floor(months_between(sysdate, u.hire_date)) &lt; 12
      	and a.year = extract(year from sysdate)
	</select>
	
	<update id="updateAnnualLeave">
		update annual_leave set total_days = #{total_days}, remaining_days = #{remaining_days} 
		where leave_seq = #{leave_seq}
	</update>
	
<!--	연차 관리
	<select id="selectAllLeaveList" resultType="com.study.app.domains.annualLeave.AdminLeaveListDTO">
	    SELECT
	        u.id            AS "users_id",
	        u.name          AS "name",
	        u.dept_name     AS "dept_name",
	        u.rank_name     AS "rank_name",
	        TO_CHAR(u.hire_date, 'YYYY-MM-DD') AS "hire_date",
	        a.leave_seq     AS "leave_seq",
	        a.total_days    AS "total_days",
	        a.used_days     AS "used_days",
	        a.remaining_days AS "remaining_days"
	    FROM users u
	    JOIN annual_leave a ON u.id = a.users_id
	    WHERE a.year = TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY'))
	    <if test="keyword != null and keyword != ''">
	        AND (u.id LIKE '%' || #{keyword} || '%'
	             OR u.name LIKE '%' || #{keyword} || '%'
	             OR u.dept_name LIKE '%' || #{keyword} || '%')
	    </if>
	    ORDER BY u.id
	</select>-->
</mapper>