<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CertIssueRequest">
	
	<insert id="insertCertRequest">
		insert into cert_issue_request ( 
			cert_request_seq,
			cert_type_seq,
			users_id,
			request_reason
		) values ( cert_request_seq.nextval, #{dto.cert_type_seq}, #{loginId}, #{dto.request_reason})
	</insert>
</mapper>