<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Rank">

	<select id="getRankList" resultType="com.study.app.domains.rank.RankDTO">
		select rank_seq, rank_name, rank_order from rank 
		where rank_order != 0
		order by rank_order
	</select>
	
	<insert id="insertRank">
		insert into rank(
			rank_seq,
			rank_name,
			rank_order
		)
		values(rank_seq.nextval, #{rank_name},
			(select nvl(max(rank_order), 0) + 1 from rank)
		)
	</insert>
</mapper>